@font-face {
  font-family: 'Mattone';
  src: local('Mattone'), url(./fonts/Mattone-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter-VariableFont_slntwght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: 'Mattone';
  padding: 0px;
  margin: 0px;
  font-weight: 600;
  line-height: 58px;
}

p {
  font-family: 'Inter';
  font-weight: 300;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

h2 {
  font-family: 'Mattone';
  padding: 0px;
  margin: 0px;
  font-weight: 600;
  line-height: 58px;
}
